a {
  text-decoration: none;
  color: black;
}

.product {
  background-color: gray;
}

.product div,
.categories div {
  display: inline-block;
  width: 19%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  z-index: 10;
}

.product-card {
  background-color: #e0e0e0;
  position: relative;
}

.product-btns {
  position: absolute;
  top: 40%;
  right: 2%;
}

.product-btns .product-available-quantity,
.product-btns .product-edit {
  display: inline-block;
  position: relative;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
}

.product-btns .product-available-quantity {
  background-color: #4caf50;
}

.product-btns .product-edit {
  background-color: #008cba;
}

.product-create {
  position: absolute;
  background-color: #FF851B;
  color: white;
  right: 80px;
  top: 40px;
  padding: 10px 20px 10px 20px;
}

.product-search {
  width: 30%;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #555;
}

.serach-information, .wrong-input-information {
  color: red;
  font-size: 14px;
}

.no-products-information {
  color: red;
  font-size: 50px;
  text-align: center;
  margin-top: 10%;
}

.create-product-form {
  background-color: #FFDC00;
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.create-product-form p {
  text-align:center;
  font-size: 18px;
  margin-bottom: 10px;
}

.create-product-form input[type=text], .create-product-form input[type=number] {
  width: 100%;
  text-align:center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.create-product-form select  {
  display: block;
  margin: auto;
  width: 30%;
  padding: 10px 0 10px 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.create-product-form .valid-product-submit,.create-product-form .non-valid-product-submit  {
  border: none;
  padding: 15px 0px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
}

.valid-product-submit {
  background-color: #4CAF50;
  color: white;
}

.non-valid-product-submit {
  background-color: #e7e7e7;
  color: black;
}